body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
 background: linear-gradient(#8562f6, #b83bbf);
}
/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  background: linear-gradient(#49319a, #58175c);
  border-bottom: 10px solid rgb(89, 0, 67);
  position: fixed;
}
.navbar .navbrand {
  /* border: 1px solid black; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbrand h2 {
  margin: 0;
  font-size: 30px;
  color: yellow;
}
.navbar .navlink {
  /* border: 1px solid black; */
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navlink a {
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.navlink a:hover {
  color: aquamarine;
  transition: 0.5s;
  transform: scale(1.1);
}
/* TABEL NAVBAR */

/* STYLING TABEL DATA USER */
.tabeldatauser {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

}
/* KOTAK 1 */
.kotak1 {
  display: flex;
  /* border: 1px solid black; */
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}
.kotak1 h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 18, 22);
  margin: 10px;
  text-shadow: 0 0 10px  rgb(255, 255, 255);

}
.kotak1 .pencarianuser {

  width: 40%;
  display: flex;
  justify-content: space-between;
}
.pencarianuser input[type = "text"] {
  width: 70%;
  height: 30px;
  border-radius: 5px;
}
.pencarianuser button {
  width: 25%;
}

/* AKHIR KOTAK 1 */

/* KOTAK 2 */
.kotak2 {
  display: flex;
  /* border: 1px solid black; */
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.kotak2 h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 18, 22);
  margin: 10px;
  text-shadow: 0 0 10px  rgb(255, 255, 255);

}
.kotak2 .pencarianpesan {

  width: 40%;
  display: flex;
  justify-content: space-between;
}
.pencarianpesan input[type = "text"] {
  width: 70%;
  height: 30px;
  border-radius: 5px;
}
.pencarianpesan button {
  width: 25%;
}
/* AKHIR KOTAK 2 */




.tabeldatauser .tabel1 {
  width: 95%;
  height: 400px;
  background-color: white;
  overflow: scroll;
}
.tabeldatauser table {
  width: 100%;
  background-color: white;
}
.tabeldatauser table thead {
  background-color: #5b3ac8;
  color: white;
}
.tabeldatauser table tbody {
  background-color: aliceblue;
}

/* STYLING TABEL PESAN USER */
.tabelpesanuser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tabelpesanuser h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 18, 22);
  margin: 10px;
  text-shadow: 0 0 10px  rgb(255, 255, 255);


}

.tabel2 {
  width: 95%;
  overflow: scroll;
  height: 400px;
  background-color: white;
  margin-bottom: 100px;
}
.tabel2 table {
  width: 100%;
}
.tabel2 table thead {
  background-color: #5b3ac8;
  color: white;
}
.tabel2 table tbody {
  background-color: aliceblue;
}
